# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/

# Ignore logs
logs/

# Ignore dependencies lock file
package-lock.json
